.DS_Store
**/bin/*
**/obj/*
Morphic.Server.Tests/bin/*
Morphic.Server.Tests/obj/*
*.csproj.user
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
Database/*
**/.vs
.idea
*.iml
appsettings.Local.json