.DS_Store
**/bin
**/obj
*.csproj.user
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json
Database/*
**/.vs
.idea
*.iml
appsettings.Local.json
.env